<div class="checkin-peeper-pane">

  <% if (!peep.comment) { %>

    <span class="checkin-peeper-icon">&#128064;</span>
    <span class="checkin-peeper-text">
      <% const msg = !attemptedPeeper || attemptedPeeper === peep.peeper
          ? 'was first peeper'
          : 'beat you to it'
      %>
      <span class="checkin-peeper-name"><%= sanitize(peep.peeper) %></span>
      <%= msg %>
    </span>

  <% } else { %>

    <span class="checkin-peeper-icon">
      &#128064;
    </span>
    <span class="checkin-peeper-text">
      <span class="checkin-peeper-name">
        <%= sanitize(peep.peeper) %>
      </span> peeped: 
      <span class="checkin-peeper-comment">
        <%= sanitize(peep.comment) %>
      </span>
      <br>
    </span>

  <% } %>
</div>
