div {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  background-color: #ffffff;
}

/* TABLING THE HEADER FOR NOW
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 3.5rem;
  font-size: 1rem;
  padding: 1rem;

  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
}

#header-center-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-bottom: 5px double orange;
}

#header-left-text {
  float: left;
}

#header-logo {
  height: 4rem;
  width: 4rem;
}

#header-right-text {
  float: right;
  font-size: 0.75rem;
  color: grey;
  text-align: right;
}

#header-last-seen-text {
  float: left;
  color: darkgreen;
}
*/

#main-scrollable {
  /*
  position: fixed;
  top: 3.5rem;
  left: 0;
  z-index: 1;
  */

  height: 100%;
  width: 100%;
  
  overflow: scroll;

  background-color: #fafafa; /* slight grey*/
}

#main-gutters {
  position: relative;
  padding: 0;
  padding-bottom: 0;
  height: 100%;
}

#pane-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-pane {
  height: calc(100% - 3rem);
}

#map {
  height: 100%;
  width: 100%;
}

#content-pane {
  margin-top: 2rem;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

#content-pane-title {
  height: 3rem;
  font-size: 2rem;
  border-bottom: 1px solid #dbdbdb;
}

#content-pane-scrollable-area {
  height: calc(100% - 3rem);
  width: 100%;
  padding-top: 1rem;
}

.checkin-content {
  margin-bottom: 2rem;

  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
}

.checkin-title {
  padding: 1rem;
}

.checkin-title-name {
  font-weight: bold;
}

.checkin-title-date {
  color: grey;
}

.checkin-blurb {
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkin-image-pane {
  padding-top: 1rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}

.checkin-image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 80vh;
}

.checkin-image-horizontal-wrapper {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.checkin-image-horizontal-wrapper .first {
  margin-bottom: 10px;
}

.checkin-image-placeholder {
  display: inline-block;
  width: 200px;
  height: 411px;
  background-color: lightgrey;
}

.no-photos {
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: grey;
  font-size: 0.75rem;
}

#content-pane-bottom-spacer {
  height: 3rem;
}

/* DESKTOP MEDIA QUERY */
@media only screen and (min-width: 769px) {
  #main-scrollable {
    overflow: hidden; /* LOL scrollable my ass */
  }

  #main-gutters {
    padding: 3rem;
    padding-bottom: 0;
  }

  #map-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(33% - 1.5rem);
    padding-bottom: 3rem;
  }

  #content-pane {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(66% - 1.5rem);
  }

  #content-pane-scrollable-area {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}