<html>
  <head>
    <!-- GOOGLE ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180773758-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-180773758-1')
    </script>


    <!-- TITLE N SHIT -->
    <title>Where is David Augustus? | SUBSCRIBE</title>
    <meta name="description" content="where tho?">
    <meta name="keywords" content="where, is, david, augustus, motorcycle, trip">
    <meta name="author" content="David Augustus Schalkwijk Lopes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CONFIG -->
    <meta charset="utf-8"/>

    <!-- FAVICON -->
    <link rel="icon" href="./assets/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/base.<%= build_version_id %>.css">
    <link rel="stylesheet" href="css/subscribe.<%= build_version_id %>.css">
  </head>

  <body>
    <main>
      <!-- HEADER -->
      <div id="header">
        <div id="header-content">
          <a id="header-home-link" href="./index.html">HOME</a>
          <div class="header-vertical-line"></div>
          <a id="header-peepers-link" href="./peepers.html">PEEPERS</a>
          <div class="header-vertical-line"></div>
          <a id="header-devlog-link" href="./devlog.html">DEVLOG</a>
          <div class="header-vertical-line"></div>
          <a id="header-about-link" class="current-page" href="./about.html">SUBSCRIBE</a>
        </div>
      </div>

      <div id="main-gutters">
        <div id="subscribe-header">
          SUBSCRIBE
        </div>
        
        I don't send out automated emails for each check-in. Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum

        <input id="email-input" type="text" maxlength="100" placeholder="your email here">
        <button id="subscribe-button">subscribe</button>
        <button id="unsubscribe-button">unsubscribe</button>

        <img id="top-banner" src="../../whereisdavidaugustus-media/media/images/about/banner1.jpg" />
      </div>
    </main>

    <!-- MY JS -->
    <script src="./scripts/subscribe.<%= build_version_id %>.js"></script>
  </body>
</html>