<html>
  <head>
    <!-- GOOGLE ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180773758-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-180773758-1')
    </script>


    <!-- TITLE N SHIT -->
    <title>Where is David Augustus? | SUBSCRIBE</title>
    <meta name="description" content="where tho?">
    <meta name="keywords" content="where, is, david, augustus, motorcycle, trip">
    <meta name="author" content="David Augustus Schalkwijk Lopes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CONFIG -->
    <meta charset="utf-8"/>

    <!-- FAVICON -->
    <link rel="icon" href="./assets/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/base.<%= build_version_id %>.css">
    <link rel="stylesheet" href="css/subscribe.<%= build_version_id %>.css">
  </head>

  <body>
    <main>
      <!-- HEADER -->
      <div id="header">
        <div id="header-content">
          <a id="header-home-link" href="./index.html">HOME</a>
          <div class="header-vertical-line"></div>
          <a id="header-peepers-link" href="./peepers.html">PEEPERS</a>
          <div class="header-vertical-line"></div>
          <a id="header-devlog-link" href="./devlog.html">DEVLOG</a>
          <div class="header-vertical-line"></div>
          <a id="header-about-link" class="current-page" href="./about.html">SUBSCRIBE</a>
        </div>
      </div>

      <div id="main-gutters">
        <div id="subscribe-header">
          SUBSCRIBE
        </div>

        <div class="subscription-controls-container">
          <input id="email-input" type="text" maxlength="100" placeholder="your email here">
          <div class="buttons-container">
            <button class="subscription-button" id="unsubscribe-button">unsub</button>
            <button class="subscription-button" id="subscribe-button">subscribe!</button>
          </div>
          <div id="subscription-message"></div>
        </div>

        Subscribe! I won't send automated emails for each check-in, but I'll send you updates on major changes to this website and news regarding my plans for its future. There's some really cool stuff on the horizon. Subscribing is also a great way to let me know you're following along!
        <br>
        <br>
        It's been a freaking blast working on this little website, theorizing and experimenting, and most of all watching your peeps roll in. Seriously every single one makes me so happy. If you've been following along on my journey, I see you and I appreciate you.
        <br>
        <br>
        Love,
        <br>
        David Augustus &#128064;
        <br>
        <br>

        <img id="top-banner" src="./media/images/about/banner1.jpg" />
      </div>
    </main>

    <!-- MY JS -->
    <script src="./scripts/subscribe.<%= build_version_id %>.js"></script>
  </body>
</html>