/* LEFT */
#left-pane {
  position: relative;
  height: calc(100% - 2.5rem);
  margin-top: 2.5rem; /* should match the height of the header */
  border-bottom: 1px solid #80808091;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #c7eac7;
}

#map-down-arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  height: 2rem;
  width: 4rem;
}

#map-down-arrow-svg {
  width: 100%;
  height: 100%;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

/* RIGHT */
#right-pane {
  position: relative;
  height: 100%;
  margin-top: 2rem;
}

#right-pane-anchor {
  position: absolute;
  top: -4.5rem;
}

#checkins-pane {
  padding: 0 1rem;
}

.checkin-content {
  position: relative;

  margin-bottom: 2rem;

  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;

  transition-property: transform, box-shadow, border-color;
  transition-duration: 0.2s;
}

.checkin-content.mouse-over-highlight {
  border-color: #dacaba;
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 2px 2px 4px -1px grey;
}

.checkin-content-anchor {
  position: absolute;
  top: -4.5rem;
  left: 0;
}

.checkin-title-left {
  padding: 1rem;
  width: calc(100% - 3rem);
}

.checkin-title-name {
  font-weight: bold;
}

.checkin-title-date {
  color: grey;
}

.checkin-title-right {
  float: right;
}

.checkin-blurb {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  white-space: pre-wrap;
}

.checkin-image-pane {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}

.checkin-image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 80vh;
}

.checkin-video {
  width: 100%;
  max-height: 80vh;
}

.checkin-peeper-pane {
  font-size: 0.75rem;
  height: 3rem;
  border-top: 1px solid #dbdbdb;
  background-color: #c7eac7;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkin-peeper-pane.available {
  background-color: #aadafe;
}

.checkin-peeper-icon {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.checkin-peeper-text {
  padding-right: 1rem;
}

.checkin-peeper-name {
  font-weight: bold;
}

.checkin-peeper-name-input {
  border: 0px;
  border-bottom: 1px solid black;
  margin: 0 1rem;
  font-family: inherit;
  background-color: rgba(1,1,1,0);

  width: 80%;
  max-width: 300px;
}

.checkin-peeper-name-input:focus {
  outline: none;
}

.checkin-claim-first-peep-button {
  padding: 0.5rem;
  font-family: inherit;
  width: 5rem;
  margin-right: 0.3rem;
  border: 1px solid black;
  border-radius: 3px;
}

/* DESKTOP MEDIA QUERY */
@media only screen and (min-width: 769px) {
  #left-pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33%;
    margin-top: 0;
    border-right: 1px solid #80808091;
    border-bottom: 0;
    z-index: 3;
  }

  #right-pane {
    position: absolute;
    top: 0;
    left: 33%;
    width: 67%;
    margin-top: 0;
  }

  #checkins-pane {
    position: absolute;
    top: 2.5rem; /* just below the header */
    height: calc(100% - 2.5rem);
    overflow: scroll;

    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

    width: 100%;

    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* hide scrollbar for Chrome, Safari and Opera */
  #checkins-pane::-webkit-scrollbar {
    display: none;
  }

  #map-down-arrow {
    visibility: hidden;
  }
}